
$color:#fff;

$black:rgba(0,0,0,0.1);



.outer_container{
  position: absolute;
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  top: 0;
  background-color: rgba(0,0,0,0.7);
}
.modal_main_container{
  width: 550px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  background-color: aliceblue;
  transform: translate(-50%,-50%);
  border: 2px solid black;
}
.action_btn{width: 70px;
  height: 50px;
  background-color: $black;
  border-radius: 3px;
  border: none;
  color:$color;
  margin-left: 10px;
  margin-top: 20px;
}
.header_container{
  width: 100%;
  height: 70px;
  background-color: $black;
  display: flex;
  justify-content: flex-end;

}
.close_btn{
  width: 30px;
    height: 40px;
    border: none;
    background-color: tomato;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    margin-left: 160px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.close_btn2{
  width: 30px;
  height: 40px;
  border: none;
  background-color:rgb(23, 52, 53);
  border-radius: 7px;
  color: $color;
  font-weight: 500;
  font-size: 35px;
  margin-left: 150px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.action_btn2{width: 70px;
  height: 50px;
  background-color: rgb(99, 186, 236);
  border-radius: 3px;
  border: none;
  color:$color;
  margin-left: 10px;
  margin-top: 20px;
}
p{
  margin: 10px;
}