
.cart_item{
  display:flex;
  align-items: center;
}
.image{
    width: 200px;
    height: 200px;
  }
  .deleteCart_btn{
      width: 60px;
      height: 40px;
      border-radius: 7px;
      background-color: rgb(68, 70, 190);
      
  }
  .del_from_cart_btn{
    width: 60px;
    height: 35px;
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 7px;
    margin-left: 5px;
    color: aliceblue;
    font-weight: bold;
 
  }

