
  .addCart_btn{
    width: 80px;
    height: 30px;
    background-color: rgb(68, 70, 190);
    border: 1px solid rgb(68, 70, 190);
    border-radius: 7px;
  }
  .image{
    width: 200px;
    height: 200px;
  }
  .del_from_cart_btn{
    width: 80px;
    height: 35px;
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 7px;
    margin-left: 5px;
    color: aliceblue;
 
  }