.header{
    width: 100%;
    height: 70px;
    background-color: rgba(10, 1, 1, );
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    color: rgb(102, 200, 245);
  }
  .cart{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
  }
  .favorite_img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 22px;
   
  }
  .container{
    width: 500px;
    display: flex;
    color: cadetblue;
    gap:7px;
  }
  .button_container{
    width: 200px;
    height: 70px;
  }
  .clear_cart_btn{
    width: 60px;
    height: 40px;
    border-radius: 7px;
    background-color: cadetblue;
    color: #fff;
    margin-top: 10px;
  }
  .clear_fav_btn{
    width: 70px;
    height: 40px;
    border-radius: 7px;
    background-color: cadetblue;
    color: #fff;
    margin-top: 10px;
    margin-left: 5px;
  }