
  .addCart_btn{
    width: 80px;
    height: 30px;
    background-color: rgb(117, 101, 197);
    border: 1px solid rgb(117, 101, 197);
    border-radius: 7px;
  }
  .image{
    width: 200px;
    height: 200px;
  }